---
- name: Install git on ubuntu servers
  hosts: ubuntu
  tasks:
    - name: Install git
      apt:
        name: git
        state: present
        update_cache: yes
- name: Install git on redhat server
  hosts: redhat
  tasks:
    - name: Install git
      yum:
        name: git
        state: present
        update_cache: yes

